@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌟 Global Styles */
body {
  @apply bg-beige-100 text-brown-900 dark:bg-brown-900 dark:text-beige-100;
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease-in-out;
}

/* 📖 Typography */
h1 {
  @apply text-4xl font-bold text-brown-700 dark:text-beige-100;
  font-family: "Lato", sans-serif;
}

h2 {
  @apply text-3xl font-semibold text-brown-800 dark:text-beige-100;
  font-family: "Lato", sans-serif;
}

h3 {
  @apply text-2xl font-medium text-brown-700 dark:text-beige-100;
  font-family: "Lato", sans-serif;
}

/* 📝 Body Text */
p,
.markdown-content,
span {
  @apply text-sm text-gray-700 dark:text-gray-300;
  font-family: "Roboto", sans-serif;
}

/* 🚫 Hide Scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
